.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
      background-color: #fffefe;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.searchBar {
  flex: 1;
  margin: 0 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notification {
  font-size: 20px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.userName {
  font-size: 16px;
}

.addButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
