.schedule {
  margin-top: 2rem;
  flex-direction:column;
  display: flex;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
   background: white;
  border-radius: 20px;
  padding: 1rem;
}

.dayGroup {
  margin-bottom: 1.5rem;
}

.dayTitle {
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  color: gray;
}
